<!DOCTYPE html>
<html lang="en" dir="ltr">
  <!--This Page Provides About Importance Of Internships-->
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <link rel="apple-touch-icon" sizes="180x180" href="https://images.shiksha.com/mediadata/images/1570797731phpmvsqFA.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://images.shiksha.com/mediadata/images/1570797731phpmvsqFA.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://images.shiks
    ha.com/mediadata/images/1570797731phpmvsqFA.png">

    <title>InternPort</title>
    </head>
    <body>
        <h1 style="text-align :center ;">Importance Of Internships</h1>
        <div class="container jumbotron" >
            <div class="row">
                
                <div class=" col-md-4">
                   <img class="college" style="width:300px;height:300px;margin-left:30px;" src="https://img.etimg.com/thumb/width-640,height-480,imgsize-169697,resizemode-1,msid-69278574/how-students-can-make-the-most-of-summer-internships.jpg"/>
                </div>
                <div class=" col-md-8">
                    <h3 class="h3">Why Do You Need Internships</h3>
                   <p>
                     <ol>
                       <li>
                         <h4>To gain experience.</h4>
                         <p>You lack experience and this is the only way to get it. The best experience comes from internships because you get to do a bit of everything! You get to see and experience the different roles that people play in certain companies and see working life from different perspectives.</p>
                       </li>
                       <li>
                        <h4>To have a better understanding.</h4>
                        <p>An internship allows you to take time to understand your role, tasks and the industry. Internships want you to leave knowing more than you came with, and this is most likely the outcome. </p>
                      </li>
                      <li>
                        <h4>Have the opportunity to learn and watch.</h4>
                        <p>You can learn from the best during an internship. People will be watching over you and working closely with you on projects so that you have someone to look up to and a goal to work towards. </p>
                        </li>
                        <li>
                          <h4>Gain the ability to put new things into practice.</h4>
                          <p>You can try out new skills and tools without the pressure of being wrong. Internships are a time to experiment, and people who hire you for that internship know that. </p>
                          </li>
                          <li>
                            <h4>Build confidence.</h4>
                            <p>Whether it be public speaking, giving presentations or simply suggesting new ideas, internships will build your confidence which allows you to grow as both a worker and a person. Confidence is key because if you don’t believe in yourself…who will? </p>
                           </li>
                        </ol>
                    </p>
                 </div>
             </div>
         
    </body>
    </html>